.carrousel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: top;
  height: 500px;
  width: 85%;
  border-radius: 15px;
}

.homeCarrousel {
  height: 300px;
  width: 70%;
}

.arrowLeft, .arrowRight {
  cursor: pointer;
  padding: 0;
}

@media (max-width: 768px) {
  .carrousel {
    width: 90%;
    height: 255px;
    border-radius: 10px;
  }

  .homeCarrousel {
    height: 300px;
    width: 90%;
  }

  .arrowLeft {
    height: 19px;
  }
  .arrowRight {
    height: 19px;
  }

  .account {
    display: none;
  }
}