.hardSkillsBloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    grid-gap: 15px;
    border: solid 1px #975ab6;
    border-radius: 15px;
     
}

.logoHeight {
    height: 60px;
}

.logoWidth {
    height: 40px;
}

@media screen and (max-width: 768px) {
    .hardSkillsBloc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-gap: 10px;

    }
    .logoHeight {
        height: 50px;
    }
    .logoWidth {
        height: 30px;
    }
}

@media screen and (max-width: 992px) {
    /* Styles pour tablettes en mode paysage */
}

@media screen and (max-width: 1200px) {
    /* Styles pour ordinateurs de bureau de petite à moyenne taille */
}