.selftrainingMain {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocMain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    font-family: 'Lastica', sans-serif;
    color: #975ab6;
    letter-spacing: 2px;
    font-size: 40px;
}